<%= render 'shared/errors', obj: @article %>

<%= form_for @article do |f| %>
  <div class="form-group row">
    <%= f.label :title, class: "col-sm-2 col-form-label" %><br/>
    <div class="col-sm-8">
      <%= f.text_field :title, class: "form-control", placeholder: "Title of artcile" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, class: "col-sm-2 col-form-label" %><br/>
    <div class="col-sm-8">
      <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of artcile" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, class: "col-sm-2 col-form-label" %><br/>
    <div class="col-sm-8">
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
        <div class="form-check-inline">
          <%= cb.label(class: "form-check-label input_checkbox") {cb.check_box(class: "form-check-input") + cb.text} %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-8 offset-sm-2">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="col-sm-8 offset-sm-4">
  [<%= link_to "Cancel request and return to Articles list", articles_path %>]
</div>
