<h2 align="center">Title: <%= @article.title %></h2>
<div class="card col-sm-8 offset-sm-2 bg-light">
  <% if @article.user %>
    <ul class="listing">
      <div class="form-group row center">
        <div class="col-sm-4 offset-sm-4 articlegrav">
          <li>Created by:</li>
          <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
          <li class="article-title">
            <%= link_to @article.user.username, user_path(@article.user) %>
          </li>
          <li><small>
            <%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
          </small></li>
        </div>
      </div>
    </ul>
  <% end %>
  <h4 class="center description"><strong>Descritpion:</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
  <div class="article-actions">
    <% if logged_in? && current_user == @article.user %>
      <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-sm btn-primary" %>
      <%= link_to "Delete this article", article_path(@article), method: :delete,
                                        data:{confirm: "Are you sure you want to delete the article?"},
                                        class: "btn btn-sm btn-danger" %>
    <% end %>
    <%= link_to "View all articles", articles_path, class: "btn btn-sm btn-success"%>
  <div>
</div>
