<h1 align="center">All Alpha Bloggers</h1>
<div align="center">
  <div class="row justify-content-center">
    <%= will_paginate %>
  </div>
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="form-group row">
        <div class="card bg-light col-sm-4 offset-sm-4">
          <div class="card-body">
            <li><%= link_to gravatar_for(user), user_path(user) %></li>
            <li class="article-title">
              <%= link_to user.username, user_path(user) %>
            </li>
            <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
          </div>
        </div>
      </div>
    </ul>
  <% end %>
  <div class="row justify-content-center bottom_pagination">
    <%= will_paginate %>
  </div>
<div>
