<h1 align="center">Signup for Alpha Blog</h1>

<%= render 'shared/errors', obj: @user %>

<%= form_for @user do |f| %>
  <div class="form-group row">
    <%= f.label :username, class: "col-sm-2 col-form-label" %><br/>
    <div class="col-sm-8">
      <%= f.text_field :username, class: "form-control", placeholder: "Enter username" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :email, class: "col-sm-2 col-form-label" %><br/>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password, class: "col-sm-2 col-form-label" %><br/>
    <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-8 offset-sm-2">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="col-sm-8 offset-sm-4">
  [<%= link_to "Cancel request and return to Articles list", articles_path %>]
</div>
