<h1 align="center">Welcome to <%= @user.username %>'s page </h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-4 center">
      <%= gravatar_for @user, size: 150 %>
    </div>
  </div>
</div>
<h4 align="center"><%= @user.username %>'s articles<h4>
<div class="row justify-content-center">
  <%= will_paginate @user_articles %>
</div>
<%= render '/articles/article', obj: @user_articles %>
<div class="row pd-2 justify-content-center bottom_pagination">
  <%= will_paginate @user_articles %>
</div>
